<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Cryptic Blog</title>
    <meta content="A blog about computers and stuff" name="description"/>
    <meta content="Cryptic and friends" name="author"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="main.css" rel="stylesheet"/>
    {% block rss %}
      <link href="{{ get_url(path="atom.xml", trailing_slash=false) }}" rel="alternate" title="RSS" type="application/atom+xml"/>
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
  <footer></footer>
</html>