<div class="home">
  <a class="subsectionLink" href="{{ section.path }}">
    <h3>{{ section.title }}
    </h3>
  </a>
  <ul class="posts">
    {% for page in section.pages %}
      {% if page.draft == false %}
        <li>
          {# <span>{{ page.date | date(format="%b %d, %Y") }}</span> #}
          »
          <a href="{{ page.path }}">
            {{ page.title | markdown(inline=true) | safe }}
          </a>
          ⁠—
          <em>{{ page.reading_time }} Min</em>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>